/* begin Page */
#art-page-background-glare-image
{
  zoom: 1;
}

img
{
  filter: expression(artFixPNG(this));
}/* end Page */

/* begin Box, Sheet */

.art-sheet-body
{
  zoom: 1;
}
/* end Box, Sheet */

/* begin Menu */
.art-nav .r
{
  clip: rect(auto auto auto 886px);
}

/* end Menu */

/* begin MenuItem */
.art-menu a .r
{
  clip: rect(auto auto auto 400px);
}
/* end MenuItem */

/* begin Layout */
.art-content-layout, .art-content-layout-row {display: block;}
.art-content-layout, .art-content-layout-row {zoom: 1;}
/* end Layout */

/* begin Box, Block, VMenuBlock */

.art-vmenublock-body
{
  zoom: 1;
}
/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */

.art-vmenublockcontent-body
{
  zoom: 1;
}

.art-vmenublockcontent-body
{
  zoom: 1;
}
/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.art-vmenu .art-vmenu-separator, ul.art-vmenu .art-vmenu-separator-span, ul.art-vmenu li.art-vsubmenu-separator, ul.art-vmenu .art-vsubmenu-separator-span
{
  zoom: 1;
  overflow: hidden;
  float: left;
  width: 100%;
}

.art-vmenu ul, .art-vmenu li
{
  zoom: 1;
}

ul.art-vmenu a .r
{
  clip: rect(auto auto auto 872px);
}
/* end VMenuItem */

/* begin Box, Block */

.art-block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.art-blockheader .r
{
  clip: rect(auto auto auto 881px);
}
/* end BlockHeader */

/* begin Box, BlockContent */

.art-blockcontent-body
{
  zoom: 1;
}
/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper .art-button-r
{
  clip: rect(auto auto auto 396px);
}
/* end Button */

/* begin Box, Post */
.art-post-tl
{
  clip: rect(auto 11px 11px auto);
}

.art-post-tr
{
  clip: rect(auto auto 11px 11px);
}

.art-post-bl
{
  clip: rect(11px 11px auto auto);
}

.art-post-br
{
  clip: rect(11px auto auto 11px);
}

.art-post-tc
{
  clip: rect(auto auto 11px auto);
}

.art-post-bc
{
  clip: rect(11px auto auto auto);
}

.art-post-cr
{
  clip: rect(auto auto auto 11px);
}

.art-post-cl
{
  clip: rect(auto 11px auto auto);
}

.art-post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.art-postcontent
{
  height: 1%;
}
/* end PostContent */

/* begin LayoutCell, content */
.art-content {width: auto;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell
{
  display: block;
  position:relative;
  float: left;
  clear: right;
}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell {  zoom:1; }
.art-layout-cell .art-layout-cell{ float: none; clear: both;}
/* end LayoutCell, content */


