<?xml version="1.0"?>
<configuration>
  <appSettings />
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=.\sqlexpress;Initial Catalog=ElektrometreServer17817;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ConnPoz" connectionString="Data Source=88.247.221.186;Initial Catalog=ElektrometreServer17817; User ID =sa; Password =ser-1596" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization requestEncoding="windows-1254" responseEncoding="windows-1254" culture="tr-TR" uiCulture="tr" fileEncoding="windows-1254" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_KullaniciServis">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2564/KullaniciServis.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_KullaniciServis"
        contract="KUL_SR.KullaniciServis" name="CustomBinding_KullaniciServis" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>
</configuration>