<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MySisRapor.Properties.Settings.ElektrometreServer17817"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=ElektrometreServer17817;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>