<?xml version="1.0"?>

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <connectionStrings>
      <add name="MySisRapor.Properties.Settings.ElektrometreServer17817"
           connectionString="Data Source=ender.cloudapp.net;Initial Catalog=Elektrometreserver17817;Persist Security Info=True;User ID=ender;Password=ser-9274" providerName="System.Data.SqlClient"/>
      <!--<add name="ConnStr" connectionString="Data Source=.\sqlexpress;Initial Catalog=ElektrometreServer17817;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
      <add name="ConnStr" connectionString="Data Source=ender.cloudapp.net;Initial Catalog=Elektrometreserver17817;Persist Security Info=True;User ID=ender;Password=ser-9274" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.serviceModel>
        <behaviors>
          <serviceBehaviors>
            <behavior name="ReportServiceBehavior">
              <serviceMetadata httpGetEnabled="true" />
              <serviceDebug includeExceptionDetailInFaults="false" />
            </behavior>
            <behavior name="">
              <serviceMetadata httpGetEnabled="true" />
              <serviceDebug includeExceptionDetailInFaults="false" />
            </behavior>
          </serviceBehaviors>
          <endpointBehaviors>
            <behavior name="WebBehavior">
              <webHttp />
            </behavior>
          </endpointBehaviors>
        </behaviors>
        <bindings>
            <customBinding>
                <binding name="MySisEvo.Web.KullaniciServis.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="MySisEvo.Web.AracServis.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="MySisEvo.Web.DataServis.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="MySisEvo.Web.SessionServis.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="MySisEvo.Web.AlarmTanimServisi.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="MySisEvo.Web.AlarmlarServisi.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="MySisEvo.Web.KullaniciServis">
                <endpoint address="" binding="customBinding" bindingConfiguration="MySisEvo.Web.KullaniciServis.customBinding0"
                    contract="MySisEvo.Web.KullaniciServis" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service name="MySisEvo.Web.AracServis">
                <endpoint address="" binding="customBinding" bindingConfiguration="MySisEvo.Web.AracServis.customBinding0"
                    contract="MySisEvo.Web.AracServis" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service name="MySisEvo.Web.DataServis">
                <endpoint address="" binding="customBinding" bindingConfiguration="MySisEvo.Web.DataServis.customBinding0"
                    contract="MySisEvo.Web.DataServis" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service behaviorConfiguration="ReportServiceBehavior" name="Telerik.Reporting.Service.ReportService">
                <endpoint address="" binding="basicHttpBinding" contract="Telerik.Reporting.Service.IReportService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="resources" behaviorConfiguration="WebBehavior"
                    binding="webHttpBinding" contract="Telerik.Reporting.Service.IResourceService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service name="MySisEvo.Web.SessionServis">
                <endpoint address="" binding="customBinding" bindingConfiguration="MySisEvo.Web.SessionServis.customBinding0"
                    contract="MySisEvo.Web.SessionServis" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service name="MySisEvo.Web.AlarmTanimServisi">
                <endpoint address="" binding="customBinding" bindingConfiguration="MySisEvo.Web.AlarmTanimServisi.customBinding0"
                    contract="MySisEvo.Web.AlarmTanimServisi" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service name="MySisEvo.Web.AlarmlarServisi">
                <endpoint address="" binding="customBinding" bindingConfiguration="MySisEvo.Web.AlarmlarServisi.customBinding0"
                    contract="MySisEvo.Web.AlarmlarServisi" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
